<div class="container-fluid header-bar">
  <button class="btn-report float-right" (click)="downloadPdfReport()" placement="left" ngbTooltip="Generate PDF Report"><fa-icon [icon]="btnReport"></fa-icon></button>
</div>
<div id="nfs_report" class="container-fluid">
  <div class="container survey-group" *ngFor="let surveyGroup of surveyGroups; let groupIndex = index">
    <div class="group-name">
      <input class="textEditor" [(ngModel)]="surveyGroup.displayName" style="width:80%" placeholder="Survey Group Name" maxlength="50">
      <button type="button" class="btn btn-outline-danger btn-sm float-right" (click)="removeSurveyGroup(groupIndex)" placement="left" ngbTooltip="Delete This Project Group"><fa-icon [icon]="btnDeleteIcon"></fa-icon></button>
    </div>
    <div class="table-responsive">
      <table class="table" id="table-{{surveyGroup.id}}">
        <thead class="thead-dark">
        <tr>
          <th>Project</th>
          <th>Students</th>
          <th class="col-detractor">0</th>
          <th class="col-detractor">1</th>
          <th class="col-detractor">2</th>
          <th class="col-detractor">3</th>
          <th class="col-detractor">4</th>
          <th class="col-detractor">5</th>
          <th class="col-detractor">6</th>
          <th>7</th>
          <th>8</th>
          <th class="col-promoter">9</th>
          <th class="col-promoter">10</th>
          <th>NPS</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let surveyResult of surveyGroup.surveyResults; let resultIndex = index">
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.project" placeholder="Project Name" maxlength="40" (change)="updateChartLabels(groupIndex, resultIndex)" /></td>
          <td class="displayText">{{surveyResult.calTotalStudent()}}</td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score0Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score1Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score2Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score3Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score4Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score5Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score6Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3"  /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score7Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score8Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score9Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td><input class="inlineTextEditor-sm" [(ngModel)]="surveyResult.score10Student" (change)="updateChart(groupIndex)" style="width:2em" pattern="[0-9]*" maxlength="3" /></td>
          <td class="displayText">{{surveyResult.calNps() | number: '1.1-2'}}</td>
          <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="removeSurveyResult(groupIndex, resultIndex)" placement="left" ngbTooltip="Delete This Project">
            <fa-icon [icon]="btnDeleteIcon"></fa-icon>
          </button></td>
        </tr>
        <tr [className]="sampleNewProjectRowCssClass(surveyGroup.id)">
          <td>New Project</td>
          <td class="displayText">0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td class="displayText">0.0</td>
          <td><button type="button" class="btn btn-outline-danger btn-sm"><fa-icon [icon]="btnDeleteIcon"></fa-icon></button></td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="15" class="text-center" style="border-top:0">
              <button type="button" class="btn btn-outline-secondary" (click)="addSurveyResult(groupIndex)" (mouseenter)="setHighlightSurveyGroupId(surveyGroup.id)" (mouseleave)="unsetHighlightSurveyGroupId() " >
                Add Project</button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="footer">
  <button type="button" class="btn btn-outline-secondary btn-lg" (click)="addSurveyGroup()" (mouseenter)="showHintGroupNew()" (mouseleave)="hideHintGroupNew()">Add Project Group</button>
</div>
<div [ngClass]="{'container-fluid': true, 'group-new-show':isShowHintGroupNew, 'group-new-hide':!isShowHintGroupNew}">
  <div class="container survey-group">
    <div class="group-name">
      <input class="textEditor" style="width:80%" value="Survey Group Name" maxlength="50" />
    </div>
    <div class="table-responsive">
      <table class="table" id="table-new">
        <thead class="thead-dark">
        <tr>
          <th>Project</th>
          <th>Students</th>
          <th class="col-detractor">0</th>
          <th class="col-detractor">1</th>
          <th class="col-detractor">2</th>
          <th class="col-detractor">3</th>
          <th class="col-detractor">4</th>
          <th class="col-detractor">5</th>
          <th class="col-detractor">6</th>
          <th>7</th>
          <th>8</th>
          <th class="col-promoter">9</th>
          <th class="col-promoter">10</th>
          <th>NPS</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>New Project</td>
            <td class="displayText">0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="displayText">0.0</td>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <div class="chart-box" style="padding:1rem" *ngFor="let surveyGroup of surveyGroups">
      <div class="header">Net Promoter Score {{surveyGroup.displayName}}</div>
      <canvas id="{{surveyGroup.id}}"></canvas>
    </div>
  </div>
</div>


